go 1.25.0

use (
	./cmd/api
	./internal/module/assistant_suggestions
	./internal/module/day_sessions
	./internal/module/plans
	./internal/module/trips
	./internal/platform/common
	./internal/platform/postgres
)
