go 1.26.2

use (
	./cmd/api
	./internal/module/assistant_suggestions
	./internal/module/auth
	./internal/module/day_sessions
	./internal/module/events
	./internal/module/plans
	./internal/module/trips
	./internal/platform/common
	./internal/platform/llmclient
	./internal/platform/postgres
)
